@tailwind base;
@tailwind components;
@tailwind utilities;

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
/* Estilo para el thumb del range en navegadores WebKit (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px; /* Ajusta el tamaño según prefieras */
  height: 15px; /* Ajusta el tamaño según prefieras */
  border-radius: 50%; /* Hace el thumb redondo */
  background: #6f16ff; /* Color de fondo */
  cursor: pointer;
}

/* Estilo para el thumb del range en Firefox */
input[type="range"]::-moz-range-thumb {
  width: 10px; /* Ajusta el tamaño según prefieras */
  height: 50px; /* Ajusta el tamaño según prefieras */
  border-radius: 50%; /* Hace el thumb redondo */
  background: #1d4ed8; /* Color de fondo */
  cursor: pointer;
}

/* Personalización adicional opcional */
input[type="range"] {
  accent-color: #1d4ed8; /* Color principal del range */
  height: 7px; /* Ajusta la altura del track */
  background-color: #d1d5db; /* Color del track */
}

  
